/ Feature-Area
%section.feature-area.section-padding-top#features_page
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        .page-title.text-center
          %h5.title
            Features
          .space-10
          %h3
            The Radio Spirits App is Packed with Great Features!
          .space-60

    .row
      .col-xs-12.col-sm-6.col-md-4
        %div.service-box.wow.fadeInUp{ data: { wow: { delay: '0.2s' } } }
          .box-icon
            %i.lnr.lnr-rocket

          %h4
            Free Daily Shows!
          %p
            Hear the newest episodes of the nationally syndicated When Radio Was program.

        .space-60
        %div.service-box.wow.fadeInUp{ data: { wow: {delay: '0.4s' } } }
          .box-icon
            %i.lnr.lnr-paperclip

          %h4
            Huge Selection!
          %p
            Premium Plan listeners get access to thousands of classic radio programs from hundreds of different series and many different genres.

        .space-60
        %div.service-box.wow.fadeInUp{ data: { wow: {delay: '0.6s' } } }
          .box-icon
            %i.lnr.lnr-cloud-download
          %h4
            Download Programs!
          %p
            Premium Plan listeners can download shows to their iOS or Android device for off-line listening. Enjoy downloaded shows on your device with no wi-fi or cellular data connection.

        .space-60

      .hidden-xs.hidden-sm.col-md-4
        %figure.mobile-image
          = image_tag 'feature-image.png', alt: 'Feature Photo'

      .col-xs-12.col-sm-6.col-md-4
        %div.service-box.wow.fadeInUp{ data: { wow: { delay: '0.2s' } } }
          .box-icon
            %i.lnr.lnr-clock

          %h4
            Bookmark Your Spot!

          %p
            The Radio Spirits App automatically remembers where you left off when listening to a program so you resume right where you left off.

        .space-60
        %div.service-box.wow.fadeInUp{ data: { wow: { delay: '0.4s' } } }
          .box-icon
            %i.lnr.lnr-laptop-phone
          %h4
            Enjoy Multiple, Consecutive Shows!
          %p
            Play several shows from the same series automatically.

        .space-60
        %div.service-box.wow.fadeInUp{ data: { wow: { delay: '0.6s' } } }
          .box-icon
            %i.lnr.lnr-cog

          %h4
            Easily Find New Shows!
          %p
            Search by keyword or browse by program series or genre to find tons of great new programs. New shows are added daily1

        .space-60

/ Feature-Area-End