/ Footer-Area-Start
%footer
  .footer-bottom
    .container
      .row
        .col-xs-12.col-md-5
          %span
            %script
              document.write(new Date().getFullYear());
            RSPT, LLC. All rights reserved | This template is made with
            %i.lnr.lnr-heart{ aria: { hidden: 'true' } }
            by
            %a{ href: "https://colorlib.com", target: "_blank" }
              Colorlib

          .space-30.hidden.visible-xs

        .col-xs-12.col-md-7
          .footer-menu
            %ul
              %li.active
                %a{ href: "#home_page" }
                  Home
              %li
                %a{ href: "#progress_page" }
                  About
              %li
                %a{ href: "#features_page" }
                  Features
              %li
                %a{ href: "#gallery_page" }
                  Gallery
              %li
                %a.downloadbutton{ href: "#download_page" }
                  Download Free App
              %li
                %a{ href: "#price_page" }
                  Plans
              %li
                %a{ href: "#questions_page" }
                  FAQ

  / Footer-Bootom-End
/ Footer-Area-End