/ Progress-Area
%section.progress-area.gray-bg#progress_page
  .container
    .row
      .col-xs-12.col-md-17
        .page-title.section-padding
          %h5.title.wow.fadeInUp{ data: { wow: { delay: '0.2s' } } }
            About Classic Radio Programs

          .space-10
          %h3.dark-color.wow.fadeInUp{ data: { wow: { delay: '0.4s' } } }
            Mystery! Comedy! Adventure! Drama!

          .space-20
          %div.desc.wow.fadeInUp{ data: { wow: { delay: '0.6s' } } }
            %p
              The 1930’s through the early 1960’s was the Golden Age of Radio entertainment.  The finest actors, performers, writers and technical craftsmen delivered outstanding radio programs that fueled the imagination of listeners.  The original radio broadcasts from the Golden Age Of Radio were the TV of their day.
            %br/

          %div{ align: 'center' }
            = image_tag 'RS_land1.jpg', alt: 'Hundreds of Classic Radio Series are Available'

          %div{ align: 'center' }
            %br/
            %br/
            %div{ align: 'center' }
              %a.bttn-default.wow.fadeInUp{ href: '#features_page', data: { wow: { delay: '0.8s' } } }
                Learn More