/ Questions-Area
%section.questions-area.section-padding#questions_page
  .container
    .row
      .col-xs-12
        .page-title.text-center
          %h5.title
            FAQ
          %h3.dark-color
            Frequently Asked Questions
          .space-60

    .row
      .col-xs-12.col-sm-6
        .toggole-boxs
          %h3
            Is the Radio Spirits App Free?
          %div
            %p
              Yes, there is no cost to download the Radio Spirits App.  And, the basic download allows you to hear the most recent episodes of When Radio Was for FREE.

          %h3
            What shows are available?
          %div
            %p
              In addition to When Radio Was, Premium Plan listeners can pick and choose from thousands of different classic radio programs from hundreds of series, including Yours Truly Johnny Dollar, Gunsmoke, Jack Benny, Burns & Allen, Escape and many, many more.  New shows are added daily!

      .col-xs-12.col-sm-6
        .space-20.hidden.visible-xs
        .toggole-boxs
          %h3
            Do you offer a FREE Premium Plan Trial?
          %div
            %p
              Yes, you can currently get a FREE Trial of the Premium version of the Radio Spirits App. See the app for details.

          %h3
            How much does a Premium Plan cost
          %div
            %p
              Current pricing is available to review in the Radio Spirits App.  To see available Premium Plan pricing, simply open the App and click the Settings button in the lower right corner.  We offer multiple-length Premium plans with opportunities to save!

      .col-xs-12.col-sm-6
        .toggole-boxs
          %h3
            What is When Radio Was?
          %div
            %p
              Heard daily on 200 AM and FM radio stations throughout the United States, When Radio Was presents the best of old-time radio.  Greg Bell is the host of the program.

          %h3
            Can I download shows?
          %div
            %p
              Premium Plan listeners can download shows for offline listening on their mobile device.  Listen in places such as a car or plane when you don’t have an Internet connection.
/ Questions-Area-End
