.row
  .col-md-12.p-t-15
    .panel.panel-default
      .panel-heading
        = t('subscription_buckets.edit_bucket')
      .panel-body
        .col-md-4.col-lg-4.col-sm-12.col-xs-12
          = render 'form', subscription_bucket: @subscription_bucket
